.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  list-style-type: none;
  line-height: 40px;
  border: 1px solid #e5e5e5;
  padding-left: 10px;
  margin: 10px;
  background: #FFF;
}

.cardType {
  list-style-type: none;
  padding-left: 0px;
  padding-right: 10px;
}

#dashboard {
}

.dash {
  list-style-type: none;
}

.card .close {
  visibility: hidden;
  margin-right: 5px;
  margin-top: 5px;
}

.card:hover .close {
  visibility: visible;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}

.card:hover .close:hover {
  visibility: visible;
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.column {
  min-height: 60px;
  list-style-type: none;
  float: left;
  min-width: 400px;
  padding: 0px;
  margin: 5px;
  margin-bottom: 40px;
  border: 1px solid #e5e5e5;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  clear: both;
  color: #777;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  background: #FFF;
  bottom: 0;
  left: 0;
  right: 0;
}

#copyright {
  float: left;
  padding: 10px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    width: 95%;
    /* max-width: 730px; */
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
